<% include header.ejs %>
<% include navigation.ejs %>
    <h1>About US</h1>
    <section>
        <h3>How bout dah humor inspired by various facebook memes, videos etc, started its journey on social media on February 12th, 2017.
        Since then, it has acquired 170 views maximum on on a post with a bird. We strive to bring to you original humor, quotes and 
        videos provided to us by our amazing team and contributors. Relax, Read, watch, Like, Enjoy and Share!</h3>
    </section>
<% include footer.ejs %>
