    <footer class="alert alert-info">
        
        <ul>
            <li>&copy;Joel Appoh @ 2017 - How Bout Dah Humor</li>
            <li class="footicon"><a href="https://www.facebook.com/howboutdahhumor/"><img src="http://puu.sh/u3IVW/7305af2d58.png" alt="facebook" class="logo"></a></li>
            <li class="footicon"><a href="https://www.twitter.com/howboutdahhumor/"><img src="http://puu.sh/u3IXb/eb356a3981.png" alt="twitter" class="logo"></li>
        </ul>
    </footer>
 </body>
</html>