
<form action="" method="post" id="repair_form" name="repair_form">
    <fieldset>    
        <legend>Contact Information</legend>  
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" size="50" placeholder="put name here" required="required" autocomplete autocomplete="on">
        <br>
        <label for="email" >Put email here:</label>
        <br>
        <input name="email" type="email" id="email" size="15" placeholder="put email here" required autocomplete="on"
        
        <br>
        <br>
    </fieldset>
    
    <fieldset>
        <legend> Detailed Information</legend>
        <label for="describe_concern">Describe your vine / concern:</label>
        <br>
        
        <textarea name="describe" cols="40" rows="6" id="describetxt">
        </textarea>   
    </fieldset>
    <br>
    <input name="send" type="submit" id="send" value="Send Form">
    <input name="Clear" type="reset" id="clear" value="clear form">
</form>
