<!DOCTYPE html>
<html>
  <head>
    <title>How Bout dah Humor</title>
    <!-- Css -->
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="http://puu.sh/u5Fh1/a3dfe95c09.png" alt="Logo" id="hbdh">
    
    