<nav class="nav navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/projects">Project</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>
        