<% include header.ejs %>
<% include navigation.ejs %>

    <h1>Our Past Project Samples</h1>
    <div id ="samplebox">
        <div class="sample">
            <h3>Dig</h3>
            <img src="/images/digurgrave.png" alt="dig" id="dig">
        </div>
        <div class="sample">
            <h3>Kids @TiffRaill</h3>
            <img src="/images/kids+toilet.png" alt="toys" id="toys">
        </div>
        <div class="sample">
            <h3>Bird Meme</h3>
            <img src="/images/hbdhbird.png" alt="bird" id="bird">
        </div>
    </div>          
<% include footer.ejs %>
