<% include header.ejs %>
<% include navigation.ejs %>

     <div id ="servicebox">
        <div class="service">
            <h3>Photoshop</h3>
            We provide photoshop services which include picture editing, logo creation , gifs , website designs for Dreamweaver, etc.
        </div>
        <div class="service">
            <h3>3D Designs</h3>
            We create 3d objects to suit your requests through 3DS Max.
        </div>
        <div class="service">
            <h3>Websites</h3>
            Our knowledge in website creation makes us one the best. Put a Request through our contact page and set up a meeting.
        </div>
    </div>   
    
<% include footer.ejs %>
