<% include header.ejs %>
<% include navigation.ejs %>

    <h1>Our Services</h1>
     <div id ="samplebox">
        <div class="service">
            <h3>Photoshopping</h3>
            <img src="/images/ps.png" alt="ps" id="ps">
        </div>
        <div class="service">
            <h3>3D Designs</h3>
            <img src="/images/3D.png" alt="3D" id="3D">
        </div>
        <div class="service">
            <h3>Websites</h3>
            <img src="/images/web.png" alt="web" id="web">
        </div>
    </div>   
    
<% include footer.ejs %>
